.alert {
    padding: 20px;
    background-color: lightcoral;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.wrong {
    margin-top: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 0px solid lightslategrey;
    width: auto;
    color: black;
    font-family: 'Droid Sans', sans-serif;
}

.info {
    background-color: lightgrey;
    border-left: 6px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}